@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url(https://fonts.googleapis.com/css?family=Denk+One);
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
:root{
    --dark-gray: #212121;
    --red: 255;
    --green: 255;
    --blue: 255;
}
.custom {
    background-image: url('/resources/images/background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 80%;

}
*{
    font-family: "Creepster", system-ui;
    font-weight: 900;
    font-style: normal;
}
input{
    font-size: large;
}
.index{
    background-image: url("/resources/images/border.png");
    background-repeat: repeat;
    background-size:contain;
}
.book-image{
    width:60%;
    height: 60%;
    margin:0 auto;

}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* Applying the bounce animation to the arrows */
.bounce {
    background-color: red;
    clip-path: polygon(50% 80%, 100% 50%, 50% 100%, 0 50%);
    animation: bounce 1.5s infinite;

}

.bounce:nth-child(1) {
    animation-delay: 0s;

}

.bounce:nth-child(2) {
    animation-delay: 0.3s;
}

.bounce:nth-child(3) {
    animation-delay: 0.6s;
}


/* spooky font */




/* end */
